<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/reset.css" type="text/css">
    <link rel="stylesheet" href="../assets/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <title>Ascii-Art-Web</title>
</head>
<body>
    <header><h1>ASCII-ART-WEB</h1></header>
        <div class="output">
            <pre>{{ .PrintAscii }}</pre>
        </div>
        <div class="text_style">
            <form>
                <button type="submit" class="button-submit" onclick="window.history.go(-1); return false;"> Return </button>
            </form>
        </div>
</body>
</html>